<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet - Depandencies -->
    <!-- Awesome Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Flag Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.min.css">
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Stylesheet - Your Work -->
    <link rel="stylesheet" href="app/styles/layout.css">
    <!-- Scripts Models -->
    <script src="app/scripts/models/WebsiteForLanSerialization.js"></script>
    <!-- TEST -->
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    
</head>
<body ng-app="MainApp" ng-controller="MainCtrl">
    <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        
                <!-- Your Work : START -->
                <h2 style="text-align: center;">Test Generate JsonData with form</h2>
                <!-- Formulaire -->
                <form name="form.model" ng-submit="form.submit()">

                    <fieldset>
                        <legend>General</legend>

                        <!-- ID -->
                        <input type="hidden" name="id" />

                        <!-- Title -->
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" ng-model="form.input.title" id="title">
                            <label class="mdl-textfield__label" for="title">Title</label>
                        </div>
                        <br/>
                        
                        <!-- Synopsis -->
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" type="text" rows="3" ng-model="form.input.synopsis" id="synopsis"></textarea>
                            <label class="mdl-textfield__label" for="synopsis">Synopsis</label>
                        </div>
                        <br/>

                        <!-- Cover -->
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="url" ng-model="form.input.cover" id="cover">
                            <label class="mdl-textfield__label" for="cover">Cover URL</label>
                        </div>
                        <br/>

                        <!-- Release Date -->
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="date" ng-model="form.input.release" id="release">
                            <label class="mdl-textfield__label" for="release">Release Date</label>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Information</legend>

                        <!-- Genres -->
                        <tags-input
                            placeholder="Add Genre" 
                            ng-model="form.input.genre" 
                            min-length="2"
                            template="mdl-chip-template">
                        </tags-input>
                        <br/>

                        <!-- Developers -->
                        <tags-input
                            placeholder="Add Developer" 
                            ng-model="form.input.developer" 
                            min-length="2"
                            template="mdl-chip-template">
                        </tags-input>
                        <br/>

                        <!-- Editors -->
                        <tags-input
                            placeholder="Add Editor" 
                            ng-model="form.input.editor" 
                            min-length="2"
                            template="mdl-chip-template">
                        </tags-input>
                        <br/>

                        <!-- Voices -->
                        <tags-input
                            placeholder="Add Voice" 
                            ng-model="form.input.audio" 
                            min-length="2"
                            max-length="2"
                            template="mdl-chip-template">
                        </tags-input>
                        <br/>

                        <!-- Subtitles -->
                        <tags-input
                            placeholder="Add Subtitle" 
                            ng-model="form.input.subtitle" 
                            min-length="2"
                            max-length="2"
                            template="mdl-chip-template">
                        </tags-input>
                        <br/>

                        <!-- Systems -->
                        <tags-input
                            placeholder="Add System" 
                            ng-model="form.input.system" 
                            min-length="2"
                            template="mdl-chip-template">
                        </tags-input>

                    </fieldset>

                    <fieldset class="mdl-cell mdl-cell--1-offset mdl-cell--10-col mdl-grid">
                        <legend>Download</legend>
                        <ng-form name="form.input.download.model" ng-submit="form.input.download.submit()">

                            <!-- Name -->
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="name" ng-model="form.input.download.value.name" id="name">
                                <label class="mdl-textfield__label" for="name">Name</label>
                            </div>
                            <br/>

                            <!-- Size -->
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" ng-model="form.input.download.value.size" id="size">
                                <label class="mdl-textfield__label" for="size">Size</label>
                            </div>
                            <br/>

                            <!-- Link -->
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="url" ng-model="form.input.download.value.link" id="link">
                                <label class="mdl-textfield__label" for="link">Link</label>
                            </div>
                            <br/>

                            <!-- System -->
                            <tags-input
                                placeholder="Add System" 
                                ng-model="form.input.download.value.system" 
                                min-length="2"
                                max-length="2"
                                template="mdl-chip-template">
                            </tags-input>
                            <br/>

                            <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised">Submit</button>
                        </ng-form>
                    </fieldset>

                    <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised">Submit</button>
                </form>
                <!-- Your Work : END -->

                </div>
                <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            </div>
        </main>
    </div>
    <!-- Scripts - Depandencies -->
    <!-- Angularjs Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js"></script>
    <!-- Material Desgin Lite -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Tools -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/7.2.0/validator.min.js"></script>
    <!-- Scripts - Your Work -->
    <!-- Angularjs - MainApp -->
    <script src="app/scripts/module.js"></script>
    <!-- Angularjs - Factories -->    
    <!-- Angularjs - Directives -->
    <!-- Angularjs - Controllers -->
    <script src="app/scripts/controllers/main.js"></script>
    <!-- TEST -->
    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
    <script type="text/ng-template" id="mdl-chip-template">
        <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">{{$getDisplayText()}}</span>
            <button type="button" class="mdl-chip__action" ng-click="$removeTag()"><i class="fa fa-times"></i></button>
        </span>
    </script>
    
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->